
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5f8fa;
}

/*-------------------NAVIGATION BAR-------------------*/
.navbar-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.logo a{
  font-size: 25px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.links {
  display: flex;
  align-self: flex-end;
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 500;
}

.work, .play, .about, .resume{
  margin-left: 20px;
}

.work a, .play a, .about a, .resume a{
  text-decoration: none;
  color: inherit;
}

.active-link a, .work:hover, .play:hover, .about:hover, .resume:hover{
  border-bottom: 3px solid #482CF6;
}

/*-------------------TITLE SCREEN-------------------*/
.landing{
  padding-top: 300px;
  padding-bottom: 150px;
  width: 80%;
  margin: auto;
}

.home-image{
  margin: 100px 45px 0 45px;
  display: flex;
  justify-content: center;
}

/*-------------------WORK PAGE GRID-------------------*/
.icon-grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.icon-grid {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.icon-grid-item, .icon-grid-item a{
  position: relative;
  display: inline-block;
  width: 460px;
  margin: 0px 20px;
  text-decoration: none;
}

.icon-grid-item img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.icon-grid-item a:hover{
  opacity: 0.5;
  transition: 0.3s;
}
.descrip{
  text-align: center;
  margin: auto;
  font-size: 14px;
  width:65%;
  color: #757575;
}

/*-------------------SOCIAL MEDIA ICONS-------------------*/
.fa{
	font-size: 17px;
	text-align: center;
  text-decoration: none;
  width: 15px;
	margin: 5px 15px 5px 0px;
	background: none;
  color: #191B1D;

}
.fa:hover {
    color: #482CF6;
    transition: .5s ease;
}

/*-------------------ABOUT PAGE-------------------*/
.about-page {
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

.about-page img{
  display: block;
  width: 350px;
  align-self: flex-start;
}

.about-post-text {
  display: inline-block;
  float: left;
  margin-left: 50px;
  width: 100%;
}

.column, .about-column{ /*about page look into life */
  width: 32%;
  margin: 5px 5px 30px 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

/*-------------------GENERAL/PROJECT PAGES-------------------*/
.content-container{
  margin: 30px 45px 50px 45px;
  display: block;
  justify-content: center;
}
.content{
  display: flex;
  flex-wrap: wrap;
}

.project-title-section{
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  text-align: center;
  /*margin-bottom: 30px;*/
}

.project-section{
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.project-section img, .project-section video{
  margin: 30px auto;
}
.content-container iframe{ /*BITESIZE PROTOTYPE*/
  display: block;
  width: 100%;
}

/*-------------------BOTTOM NAV FOR PROJECT PAGE-------------------*/
.bottom-nav{
  display: block;
  width: 800px;
  margin: auto;
  padding-bottom: 90px;
  text-align: center;
}

.bottom-nav a{
  text-decoration: none;
  float: left;
  display: block;

  font-family: 'Apercu Mono Regular';
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #757575;
}

.bottom-nav a:hover{
  color: #482CF6;
  letter-spacing: 1.2px;
  transition: ease 0.3s;
}

.prev-proj{
  float: left;
}

.next-proj{
  float: right;
}

/*------EXPAND TO VIEW PROCESS ON PROJECT PAGE-------*/
.accordion {
  background-color: #e8e8ec;
  color: #757575;
  cursor: pointer;
  padding: 15px;
  width: 800px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 5px;

  margin: auto;
  display: block;
  font-family: 'Apercu Mono Regular';
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
}

.active, .accordion:hover {
  background-color: #ccc !important;
  color: #482CF6;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s ease-out;
  /*display: none;*/
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/*--------------CAROUSEL ON PROJECT PAGES (BITESIZE)------------*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-dot, .dot:hover {
  background-color: #757575;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*-------END CAROUSEL CSS----------*/





/*WHAT ARE THESE???-------*/
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columncolumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columncolumn {
    flex: 100%;
    max-width: 100%;
  }
}
